<!DOCTYPE html>		
{% load static %}
<html>
	<head>
		<title> Them Nguyen Curriculum Vitate </title>		
	        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	        <link rel="stylesheet" href="{% static 'css/cv_style.css' %}">
	</head>	
	<body>
		<table border="0" cellpadding="0" cellspacing="0" align="center">
			<tr>
				<td width="50">
				</td>
				<td align="center">
					<img src="../../static/media/themnguyen.jpg" width="150" height="200">
				</td>
				<td align="center" width="525" height="200">
					<div style="font:bold 32px Arial; padding-top:25px; color:red">CURRICULUM VITATE</div>
					<div style="font:bold 20px Arial; padding-top:20px">THEM NGUYEN VU DINH </div>
					<div style="font:italic 14px Arial; padding-top:3px">Male - November 16th 1987</div>
					<div style="font:italic 14px Arial; padding-top:3px">themnguyen1611@gmail.com      +84 9 8357 3630</div>
					<div style="font:italic 14px Arial; padding-top:3px">"we can do anything we want if we stick to it long enough"</div>
					<div style="font:italic bold 16px Arial; padding-top:10px">ELECTRICAL AND ELECTRIONIC ENGINEER</div>
					<div align="right"; style="font:italic 14px Arial; padding-top:15px; padding-right:30px">Date: April 4th 2020</div>
					</p>
				</td>
			</tr>
		</table>
		<table border="0" cellpadding="0" cellspacing="0" align="center">
			<tr>
				<td align="left" width="425" height="600">
					<div class="TaskTitle" align="center"> WORKING EXPERIENCES </div>
					<div class="TaskTime"><u> 3/2015-Now:</u> Senior Validation Engineer at Ampere Computing </div>
					<div class="TaskJob">Job description </div>
					<div class="TaskDetail"> + Validate IPs of ARM64-SERVER Chip: USB2.0, PDMA and some lowspeeds </div>
					<div class="TaskDetail"> + Git management: base on software release, make a framework for team develop on </div>
					<div class="TaskDetail"> + Working on differrent platform: Uboot, ATF, UEFI, Linux </div>
					<div class="TaskDetail"> + Set up hardware config boards team </div>
					<div class="TaskDetail"> + Script language:  bash, expert, python </div>
					
					<div class="TaskTime"><u> 1/2015-3/2015:</u> Testing Engineer at FPT Software </div>
					<div class="TaskJob">Job description</div>
					<div class="TaskDetail"> + Testing on AUTOSAR project</div>
				
					<div class="TaskTime"><u> 8/2011-8/2012:</u> Partime at 3T Robotics Group </div>
					<div class="TaskJob">Job description </div>
					<div class="TaskDetail"> + Lowspeed  PCB layout </div>

					<div class="TaskTime"><u> 3/2011-1/2015:</u> Engineer at Bach Khoa investment and development solar energy corporation </div>
					<div class="TaskJob">Job description</div>
					<div class="TaskDetail"> + Design microcontroller product: schematic, layout, algorihm, code, box</div>	
					<div class="TaskDetail"> + Design controll system by PLC, SCADA </div>	
					<div class="TaskDetail"> + Working on PIC controller, Seimens PLC </div>	
					<div class="TaskDetail"> + Tools: Orcad, CCS, TIA, WINCC </div>	

					<div class="TaskTime"><u> 9/2006-3/2011:</u> Student of HCM University of Technology </div>
					<div class="TaskDetail"> <b><i> Major: </i></b> electrical and electronic enginerring </div>						
					<div class="TaskDetail"> <b><i> Grade: </i></b> Good </div>						
					<div class="TaskDetail"> <b><i> Activities: </i></b> ABU Robocon 2010, 2011, microcontroller research </div>						
				</td>
				<td align="left" width="300" height="600">
					<ul>
						<div class="TaskTitle">SKILLS:</div>
						<li>Analyze and make task doccument</li>
						<li>Algorithm, coding and debugging on differrent platfrom Uboot, ATF, UEFI, Linux</li>
						<li>Team-working with Git, scripts</li>
						<li>Good at English: communication, reading and reports</li>
					</ul>
					<div class="TaskTitle" style="padding-left:50px"> LANGUAGE :</div>
					<table border="0" align="center" cellspacing="7px">
						<tr>
							<td align="center">C</td>
							<td width=30px bgcolor="red"></td>
							<td width=30px bgcolor="red"></td>
							<td width=30px bgcolor="red"></td>
							<td width=30px bgcolor="red"></td>
							<td width=30px bgcolor="lime"></td>
						</tr>
						<tr>
							<td align="center">Python</td>
							<td width=30px bgcolor="red"></td>
							<td width=30px bgcolor="red"></td>
							<td width=30px bgcolor="red"></td>
							<td width=30px bgcolor="lime"></td>
							<td width=30px bgcolor="lime"></td>
						</tr>
						<tr>
							<td align="center">Shell-Scripts</td>
							<td width=30px bgcolor="red"></td>
							<td width=30px bgcolor="red"></td>
							<td width=30px bgcolor="red"></td>
							<td width=30px bgcolor="red"></td>
							<td width=30px bgcolor="lime"></td>
						</tr>
					</table>
					<ul>
						<div class="TaskTitle">CERTIFICATIONS:</div>
						<li>Bachelor of Engineering, HCMC University of Technology</li>
						<li>CCNA (Cisco Certified Nerwork Associate), VNPRO</li>
						<li>Project management insitute, FMIT</li>
						<li>TOIEC 745, IIG VN</li>
					</ul>
					<ul>
						<div style"padding:10px" class="TaskTitle">HOBBIES:</div>
						<li>Football, pingpong, billiard</li>
						<li>Movie, music</li>
						<li>Reading, photograph</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<p align="center" style="font:italic bold 16px Arial">Thanks for your time and have a nice day!</p>
				</td>
			</tr>
		</table>
	</body>
</html>
