ul{
	list-style-position:outside;
	font:15px Arial;
	padding-top:5px;
}

ul > li{
	padding-top:4px;
}

.TaskTitle{
	font: italic bold 20px garamond,Arial;
	color:red;	
	padding-left:10px;
	padding-top:15px;
}

.TaskTime{
	font: italic bold 15px serif,Arial;
	color:green;	
	padding-left:10px;
	padding-top:15px;
}

.TaskJob{
	font: italic 14px Arial;
	padding-left:30px;
	padding-top:5px;
}

.TaskDetail{
	font:14px georgia,garamond,serif,Arial;
	text-indent:20px;
	padding-left:50px;
	padding-top:5px;
}
